
html {
	max-width: 100%;
	width: 100%;
	height: 100%;
}
body {
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #FFF5D7
}
.splash {
	position: static;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: auto;
	background-image: url("../build-a-website/assets/tetons.jpg");
	background-size: cover;
}
.profImg {
	text-align: center;
}
.headshot {
	margin-top: 5%;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
.namebar {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin-top: .75em;
	margin-bottom: 1em;

}
.projects {
	height: 75%;
	width: 75%;
	border: 10px solid black;
}
.navbar {
	height: 75px;
	background-color: #778fa1;
}
.container {
	text-align: center;
	max-width: 100%;
}
.aboutLeft {
	background-color: #FFE3D7;
	float: left;
	margin: .75em 5px 0px 20%;
	padding: .75em;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	border-radius: 10px;
}
.portfolioRight {
	background-color: #FFE3D7;
	float: right;
	margin: .75em 20% 0px 5px;
	padding: .75em;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	border-radius: 10px;
}
h1 {
	text-align: center;
    display: block;
    margin-top: 2em;
    
   
}
.imgGal {
	max-width: 200px;
}
.gallery {
	text-align: center;
}
ul {
	margin: 20px;
}
hr {
	display: block;
}
p {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	    display: block;
    	-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
    	-webkit-margin-start: 0px;
    	-column-rulewebkit-margin-end: 0px;
}
.social {
	height: 100px;
	width: 100px;
}




























